.Button {
    width: 200px;
    height: 30px;
    position: relative;
    right: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 30px;
    border: 1px solid #CED0DA;
    border-radius: 4px;
    font-size: 14px;
    color: #7F8FA4;
    cursor: pointer;

    display: inline-block;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    &:hover {
        background: #fff;
    }

    &:active,
    &:focus {
        outline: none;
    }
}
