.graph {
  font-family: 'Roboto';
}

.rd3-legend-item {
  text-align: left;
}
.rd3-legend {
  list-style-position: outside !important;
}
.rd3-barchart-bar {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}